// Place all the styles related to the Spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
	background: #fcfcf4;
}
.spaces_title {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 40px;
	color: #048ba8;
	text-align: center;
	margin: 100px 0;
}
.flex-container {
	display: grid;
	grid-template-columns: auto;
	@media (min-width: 576px) {
		grid-template-columns: auto auto;
	}
	//@media (min-width: 768px) {
	//	display: grid;
	//	grid-template-columns: auto auto;
	//}
	@media (min-width: 992px) {
		display: grid;
		grid-template-columns: auto auto auto;
	}
	@media (min-width: 1366px) {
		display: grid;
		grid-template-columns: auto auto auto auto auto auto;
	}
}
.flex-container-column {
	display: flex;
	flex-direction: column;
}
.cards {
	text-align: center;
}
.card {
	margin: 15px;
}
